<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" href="/assets/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,700" rel="stylesheet">

  {% include google-analytics.html %}

</head>