<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r82/three.min.js'></script>
<script src='https://threejs.org/examples/js/utils/GeometryUtils.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js'></script>
<script type="text/javascript" src="{{ "/assets/bundle.min.js" | relative_url }}"></script>
